.APP{
  max-width: 1060px;
  margin: 0 auto;
  background-color:black;
  color:white;
  overflow-x : hidden;
}
div, nav, a, ul {
  /*background-color:black;*/
  /*color:white;*/
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main{
  padding:60px;
}
li{
  list-style: none;
  background-color:black;
  color:white;
}

button {
  color:white;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

a {
  font-family: inherit;
  cursor: default;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}